{% extends "base.html" %}

{% block body %}

<p>Ephemeral Playback takes the idea of slow music and slows it down even further. Only one song is active at a time. After you have listened to it you must share it to another user via twitter. Once you have shared it you can no longer listen to it. People can share it to a variable number of people based on their online influence (currently measured by number of twitter followers)

<p>Developed over 48 hours at <a href="http://musichackday.org">music hack day</a> <a href="http://midem.com">midem</a> 2013 by <a href="http://twitter.com/alastairporter">Alastair Porter</a>

{% end %}
