{% extends "base.html" %}

{% block body %}
	{% if pastsong %}
<img src="/current/image">
<p style="margin-top:10px"><span class="lead">{{title}}</span> by <span class="lead">{{artist}}</span></p>

{% if ours %}
{% if doneplays < allowedplays %}
<ul class="graphic">
    <li><a href="/current/{{playcode}}.mp3" class="inline-playable">Play!</a></li>
</ul>
You can listen to the song! Only {{nummoreplays}} more plays though!
{% else %}
no more plays :(

<p>Share it to one of these people who want to listen to it next, or someone who follows you

<table> <tr>
        <td valign="top">
            <div style="text-align:left;">
            {% for w in wantprofiles %}
            <img src="{{w.profile_image_url}}"><a href="/share/{{w.screen_name}}">{{w.name}}</a><br>(@{{w.screen_name}})<br>
            {%end%}
        </div>
</td>
<td valign="top">
            <div style="text-align:left;">
            {% for w in sugprofiles %}
            <img src="{{w.profile_image_url}}"><a href="/share/{{w.screen_name}}">{{w.name}}</a><br>(@{{w.screen_name}})<br>
            {%end%}
        </div>
</td></tr></table>
<form method="get" action="/share">
Or type in a twitter name here: <input type="text" name="to">
</form>
{% end %}

{% else %}

<p><a href="https://twitter.com/{{who}}">@{{who}}</a> is currently listening to this song.
<a href="/want">Click here</a> to ask them to share it to you!<br>
{% if numwants > 0 %}
    {{numwants}} want to listen to it after @{{who}}.<br>
{%end%}
{% if oldwants > 0 %}
    {{oldwants}} other people also want to listen to it.
{%end%}
</p>

{% end %}

{% end %}

							{% if not logged_in %}
      Log in to twitter to join <a href="{{url}}"><img src="{{static_url("sign-in-with-twitter-gray.png")}}"></a>
	{%end%}

{% end %}
